.main {
  background-color: var(--brown);
  padding: 20px;
  color: var(--white);
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 150px;
  text-align: center;
  position: relative;
  top: -50px;
}

.large_text {
  font-size: 60px;
  font-family: "OstrichSans";
  color: var(--white);
  line-height: 50px;
}

.large_text_brown {
  font-size: 60px;
  font-family: "OstrichSans";
  line-height: 50px;
}

.red_text {
  color: var(--red);
}

.end {
  padding: 20px;
  background-color: var(--brown);
  color: var(--brown);
  border-radius: 10px 10px 0px 0px;
  padding-top: 150px;
  padding-bottom: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.primary_button {
  background-color: var(--brown);
  color: var(--white);
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 10px;
  font-family: "Nunito";
  font-size: 20px;
}

.secondary_button {
  background-color: var(--white);
  /* color: var(--brown); */
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 10px;
  font-family: "Nunito";
  font-size: 20px;
}

.nav {
  background-color: var(--brown);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1000;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
}

/* @media only screen and (min-width: 992px) { */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 800px;
}
/* } */

.reverse_card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 800px;
}

.price_card {
  background-color: var(--white);
  padding: 50px 20px 50px 20px;
  border-radius: 20px;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
}

.pricing_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

@media only screen and (max-width: 992px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* align-items: center; */
    gap: 20px;
    max-width: 500px;
  }

  .reverse_card {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    max-width: 500px;
  }

  .price_card {
    width: 100%;
  }

  .pricing_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.price_card:hover {
  box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 1);
}
